body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../log3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

h1 {
  margin-top: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

#form-container {
  background-color: #fff;
  padding: 40px;
  width: 400px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  margin: 20px auto; /* Center horizontally and add space from header */
}

#form-container:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
    padding: 10px;
}

input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #28a745;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

#username{
    width: 60%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#username:focus{
    border-color: #28a745;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 0; /* Vertical padding adjusted for better appearance */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  width: 100%; /* Button width expanded to match input fields */
  margin-top: 20px; /* Add space between inputs and button */
}

button:hover {
  background-color: #0062cc;
  transform: translateY(-2px);
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

p {
 background-color: #04a7d0; /* Bright blue button for a positive feel */
 color: #fff;
 padding: 5px 20px; /* Generous button padding */
 border: none;
 border-radius: 5px;
 cursor: pointer;
 text-transform: uppercase;
 font-weight: bold;
 align-self: center;
 text-align: center;
    width: 350px;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center; /* Centered navigation links */
  padding: 10px;
  border-bottom: 2px solid #55a7ff;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 20px; /* Increased padding for better clickability */
}

nav a:hover {
  color: #55a7ff;
}