<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password_css.css') }}">
</head>

<header>
    <h1>Emotion X</h1>
</header>

<body>
<nav>
    <a href="{{ url_for('login') }}" id="ic">Back to Login<i class="fas fa-user-plus"></i></a>
</nav>
<header>
    <h2>Reset Password</h2>
</header>
<main>
    <div id="form-container">
        <form id="create-account-form" action="{{ url_for('forgot') }}" method="post">

            <label for="username"> Enter Your Username </label>
            <input type="text" id="username" name="username" placeholder="Username" required>

            <label for="new_password"> New Password </label>
            <input type="password" id="new_password" name="new_password" placeholder="Password" required>

            <button type="submit">Submit</button>

            {% if error %}
            <p id="error-message">{{ error }}</p>
            {% endif %}

            {% if message %}
            <p id="message">{{ message }}</p>
            {% endif %}
        </form>
    </div>
</main>

<footer>
    &copy; 2024 Emotion Recognition System
</footer>

<script>
    // Get the error message element
    var errorMessage = document.getElementById('error-message');

    // Check if error message exists
    if (errorMessage) {
        // Hide the error message after 5 seconds
        setTimeout(function () {
            errorMessage.style.display = 'none';
        }, 3000);
    }
</script>
<script>
    var message = document.getElementById('message');

    // Check if error message exists
    if (message) {
        // Hide the error message after 5 seconds
        setTimeout(function () {
            message.style.display = 'none';
        }, 3000);
    }
</script>
</body>
</html>